ul#user_profile.dropdown-content
  li
    a(href="#!") Perfil
  li.divider
  li
    a(href="/logout") Salir
nav.teal
  .nav-wrapper.row
    a(href="#!").brand-logo RS
    form.col.s5.offset-s1
      div.input-field
        input#search(type="search" required)
        label(for="search")
          i.material-icons search
        i.material-icons close
    ul.right
      li
        a(href="#") Perfil
      li
        a(href="#!" data-activates="user_profile").dropdown-button Martin
          i.material-icons.right arrow_drop_down