.card-panel.z-depth-1.p20.white
  .row.valign-wrapper
    .col.s4
      img(src="images/user.jpg").circle.responsive-img
    .col.s8
      p.title-2.nomargin
        b Mr. Wipo :v
      p.small-text.nomargin user@email.com
  .divider
  .row
    h6.mtb-15
      b Novedades
    div.collection
      p.collection-item Solicitudes de amistad
        a(href="#!")
          span.badge.new.blue 2
      p.collection-item Eventos
        a(href="#!")
          span.badge.new.orange 1